.alice-carousel__dots{
    margin: 0;
}
.alice-carousel__dots-item:not(.__custom){
    display: inline-block;
    width: 7px;
    height: 7px;
    transition: .2s ease-in-out;
    background: black;
    border-radius: 20px;
}
.alice-carousel__dots-item:not(.__custom):not(:last-child){
    margin-right: 5px;
}
.alice-carousel__dots-item:not(.__custom):hover{
    background-color: #f60606;
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color: #f60606;
    width: 20px;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn{
    display: none;

}
